/*----//----CUSTOMA ACCENT COLOR SYSTEM----------*/
/*alpha*/
.buffer-26XPkd,
.buffer-26XPkd::after,
.buffer-26XPkd::before,
.content-3dzVd8.isMentioned-N-h9aa,
.mediaBarPreview-1jfyFs,
.mediaBarPreview-1jfyFs::after,
.mediaBarPreview-1jfyFs::before,
.mentioned-xhSam7,
.replying-1x3H0T,
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z,
.mouse-mode .message-2qnXI6.mentioned-xhSam7:hover,
.reaction-1hd86g.reactionMe-wv5HKu,
.theme-dark .wrapper-3WhCwL,
.wrapper-3WhCwL {
    background-color: $rb-bg-accent
}
.checkbox-1ix_J3[style*="rgba(67, 181, 129, 0.15)"],
.folderIconWrapper-226oVY[style="background-color: rgba(114, 137, 218, 0.4);"] {
    background: $rb-bg-accent!important
}
.highlight {
    background-color: $rb-bg-accent;
    filter: brightness(3)
}
/*normal*/
.barFill-23-gu-,
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked + span,
.children-rWhLdy .nowPlaying-284llR,
.circleIconButton-jET_ig.selected-ugP_am,
.container-3ayLPN .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z,
.container-3ayLPN .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover,
.containerDragAfter-1F4fgZ::after,
.containerDragAfter-3TEhpe::before,
.containerDragBefore-31UGCO::before,
.containerDragBefore-3Dzc5x::before,
.datePicker--XZbmJ .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected::after,
.datePicker--XZbmJ .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover,
.datePicker--XZbmJ .calendarPicker-2yf6Ci .react-datepicker__day:hover,
.headerPlaying-j0WQBV,
.headerSpotify-zpWxgT,
.headerStreaming-2FjmGz,
.headerXbox-3G-4PF,
.iconBadge-2wi9r4.participating-NBGDkr,
.iconBadge-qZ4Ksk,
.isUnread-3Ef-o9 .content-1o0f9g,
.item-2hkk8m,
.item-3eFBNF.selected-2DeaDa,
.mediaBarGrabber-1FqnbN,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN,
.mediaBarInteractionDragging-2QurIZ .mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl::after,
.mediaBarProgress-1xaPtl::before,
.mention-1f5kbO,
.mention-1f5kbO:active,
.mentioned-xhSam7::before,
.replying-1x3H0T::before,
.newMessagesBar-mujexs,
.progressBar-2Hd4f8 .barForeground-3KglC8,
.questionMark-CWEQZn.flexCenter-3_1bcw,
.questionMark-CWEQZn.flexCenter-3_1bcw:hover,
.result-3w1ZcL .result-3w1ZcL .selectorButtonSelected-1j4DmC,
.selectorButtonSelected-336oUc,
.side-8zPYf6 .role-3wi9Tf.selected-3s45Ha.item-PXvHYJ,
.sidebar-CFHs9e .side-8zPYf6 .selected-3s45Ha.item-PXvHYJ,
.switch-3wwwcV.valueChecked-m-4IJZ,
.tooltip-2QfLtc.tooltipBrand-g03Nz8,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.topSectionStreaming-1Tpf5X,
.topSectionXbox-3fWLjS,
.unread-3zKkbm,
.unreadPill-2HyYtt,
.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4,
.wanderingCubesItem-WPXqao,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9,
.wrapper-232cHJ,
.wrapper-3WhCwL:hover, .unread-2lAfLh {
    background-color: $rb-fg-accent;
}
/* ping indicators with numbers*/
.item-26Dhrx[style*="rgb(114, 137, 218)"],
.languageCheckbox .checkbox-1ix_J3.checked-3_4uQ9,
.numberBadge-2s8kKX,
.pageControl-1aUwvK .activeButton-1BJAiN,
.progress-3Rbvu0 .progressBar-3u8FBM,
.result-3w1ZcL[style*=background-color],
.selectableItem-1MP3MQ.selected-31soGA,
.switch-3wwwcV.valueChecked-m-4IJZ[style*="rgb(67, 181, 129)"],
.tabBar-ZmDY9v .item-3HknzM[style*="background-color: rgb(67, 181, 129);"], 
.botTag-3W9SuW, .listContent-2_qb-y .botText-1526X_, .listContent-2_qb-y .botTagVerified-1klIIt  {
    background-color: $rb-fg-accent!important
}
.attachButtonPlay-3iJ0mf,
/*server plus and search button is the only thing i can notice*/
.circleIconButton-jET_ig,
.hasMore-3e72_v,
.hasMoreButton-1MELpI,
.progress-LWvunf .foreground-2EIns2,
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV,
.searchBar-3dMhjb .searchAnswer-3Dz2-q,
.selectorNitroIcon-3FDeDE,
.statusGreen-168O6Q,
.tier-12tKuZ .tierUnlocked-25K6Kv,
.tierHeaderContent-2-YfvN .tierUnlocked-27DwHo,
.unreadPill-2HyYtt .unreadPillCapStroke-7rkHbg,
.updateIconForeground-3tnNZn,
.wrapper-3WhCwL {
    color: $rb-fg-accent;
}
.reaction-1hd86g.reactionMe-wv5HKu {
    border-color: transparent !important;
}
.expandedFolderIconWrapper-1xLaU- svg[style="color: rgb(114, 137, 218);"], .theme-dark .wrapper-3WhCwL {
    color: $rb-fg-accent!important
}
.checkbox-3kaeSU,
.checkboxInner-3yjcPe,
.checkboxElement-1qV33p:checked + span,
.dropdown-2fxkrS .lookFilled-1h1y05.select-1Pkeg4:focus,
.dropdown-2fxkrS .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b,
.dropdown-2fxkrS .lookFilled-1h1y05.selectOpen-hQuR6b,
.emojiPicker-3m1S-j .categories-1feg4n .selected-39BZ4S,
.footer-1fjuF6 .quickMessage-1yeL4E:focus,
.horizontalAutocomplete-L5KnTN .selector-2IcQBU.selectorSelected-1_M1WV,
.imageSelected-4Kl81J,
.input-cIJ7To.focused-1mmYsC,
.input-cIJ7To:focus,
.isUnread-3Ef-o9,
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:hover,
.select-1Pkeg4.lookFilled-1h1y05.sizeMedium-6vZ9JV.selectOpen-hQuR6b,
.select-1Pkeg4.lookFilled-1h1y05.sizeMedium-6vZ9JV.selectOpen-hQuR6b:hover,
.select-1Pkeg4.lookFilled-1h1y05.sizeMedium-6vZ9JV:focus {
    border-color: $rb-fg-accent
}
.lookLink-9FtZy-.colorBrand-3pXr91:hover {
    border-bottom: 1px solid $rb-fg-accent;
}
.border-Jn5IOt.video-3SrWSI.speaking-B2MXPi,
.border-Jn5IOt.voice-3bPYC-.speaking-B2MXPi,
.content-ySCtCx .focused-1En8bG::after,
.content-ySCtCx .result-3w1ZcL:hover::after,
.tile-2silOL:hover .sourceThumbnail-14Iubx {
    box-shadow: inset 0 0 0 3px $rb-fg-accent;
}
.tabBar-ZmDY9v .item-3HknzM[style*="background-color: rgba(67, 181, 129, 0.2);"] {
    background-color: $rb-bg-accent!important;
    color: $rb-fg-accent !important
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    /*upload 2nd screen border around preview*/
    border: 2px solid $rb-fg-accent
}
.uploadModal-2ifh8j .inner-3nWsbo,
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
    border: 2px dashed $rb-fg-accent;
    border-radius: 10px;
}
/* i don't use powercord anymore so i can't test this, Mathias says it looks better like this, so ig.
.powercord-spotify-playlist:hover {
    background-color: var(--ColTransparent1)!important;
    border-color: $rb-fg-accent!important
}*/
.regionSelect-3lf4eE button,
/* what is .wrapper-2ZbzR9 and .downloadApps-wbBFdZ ?*/
.wrapper-2ZbzR9 .header-3ZP1MY,
.wrapper-2ZbzR9 .sampleLink-KPFu3I,
.wrapper-2ZbzR9 .slide-2pHaq5 h5 {
    color: $rb-fg-accent
}
.regionSelectWrapper-1favwk .regionSelect-3lf4eE:hover .regionSelectInner-24f4Ce,
.regionSelectWrapper-1favwk .regionSelect-3lf4eE:hover button {
    border-color: $rb-fg-accent
}
.powercord .check-2by_h9::after {
    content: "\f00c";
    color: $rb-fg-accent;
    font-weight: 900;
    font-family: "Font Awesome 5 Pro", sans-serif!important
}
.container svg path .unreadPillCapStroke-7rkHbg,
.unreadPillCap-3_K2q2 {
    color: $rb-fg-accent;
    stroke: $rb-fg-accent !important;
}
.flowerStar-1GeTsn path,
.selectorNitroIcon-3FDeDE g path,
.unreadPill-2HyYtt .unreadPillCapStroke-7rkHbg,
.updateIconForeground-3tnNZn {
    fill: currentColor
}
.content-1o0f9g,
.mention:hover {
    /*fix the -----date----new bar .mention:hover*/
    color: white !important;
}

//buttons
.lookFilled-1Gx00P, .lookInverted-2D7oAl, .selectorButtonSelected-t5V9On {
    background-color: $rb-fg-accent !important;
    color: white !important;
}

//spotify progress bar
.barInner-3NDaY_ {
    background-color: $rb-fg-accent !important;
}