@use 'sass:color';

%searchResultHighlight {
	background-color: rgba($color: white, $alpha: 0.15) !important;
	color: color.adjust($rb-text, $lightness: + 20%);
}
%reactionMe, %forumReactionMe {
	border-color: $rb-bg-accent-opaque !important;
}
%settingsSide %tabBarItemSelected:not(:hover) {
	background-color: $rb-bg-accent !important;
}

%numberBadge, // ping indicators with numbers - uses inline styles, !important needed
%quickSwitcherPingWrapper,
%mentionWrapper:hover { 
	background-color: $rb-fg-accent !important;
}

%channelUnreadPill,
%unreadPill,
%mentioned::before { 
	background-color: $rb-fg-accent; 
}
%channelsMentionIndicator { /// (new) pill
	opacity: 1;
	background-color: $rb-fg-accent; 
	&:hover { background-color: $rb-fg-accent-hover }
	&:active { background-color: $rb-bg-accent-opaque; }
}

%unreadPillCapStroke {
	color: $rb-fg-accent;
	fill: $rb-fg-accent;
}
%dividerUnread { // -----<new) divider
	border-color: $rb-fg-accent;
	color: var(--text-muted) !important;
}

// messages stuff (possibly move)
%mention.interactive:hover { 
	text-decoration: none !important;
}
%reaction {
	border-radius: $br-small;
	%reactionCount { margin-left: 0.2rem }
	// .emoji { margin: 0.06rem 0.12rem; }
}