//call buttons
.colorable-3rVGna {
  background: $rb-bg-primary;
  color: white !important;

  .centerIcon-JYpTUi,
  .controlIcon-10O-4h {
    color: white !important;
  }

  &:hover {
    background: $rb-bg-secondary-d !important;
  }

  &.active-3D763s,
  &.white-11auuQ {
    background: white !important;
    color: $rb-bg-primary !important;

    .centerIcon-JYpTUi,
    .controlIcon-10O-4h {
      color: $rb-bg-primary !important;
    }
  }
  &.active-3D763s:hover,
  &.white-11auuQ:hover,
  &.white-11auuQ.active-3D763s:hover {
    background: #f2f3f5 !important;
  }
}

// /*scale the circular calling state*/
// .participant-1l6khj {
//   transform: scale(1.3, 1.3) !important;
//   margin-left: 20px;
//   margin-right: 20px;
// }
