/*----//---- EMOJI PICKERS----------*/
// 2020 - credit to emma🌺#0968 (customa creator) for the original code
// 2022 - thanks katlyn for fixing this
// 2023 - rewritten (3rd time) - removed dead classes & used placeholder selectors

$emoji-picker-width: 428px;
$edit-emoji-picker-height: 498px;

/* remove nav*/
%emojiPickerHeader,
%gifPickerHeader {
	--webkit-shadow: none;
	box-shadow: none !important;
	filter: none;
}
%emojiPickerHeader { padding-top: 16px; }

%emojiPickerContentWrapper,
%reactionEmojiPickerContentWrapper {
	grid-template-rows: auto;
	min-height: 442px !important;

	%emojiPickerNav,
	%emojiPickerNavList {
		display: none !important;
	}
}

#emoji-picker-tab-panel {
	%emojiCategoryList {
		transform: rotate(-90deg) translateX(-193px) translateY(190px);
		height: 430px;
		padding-top: 0 !important;

		%autocompleteListItems %emojiCategoryItem,
		%emojiCategoryUnicodeShortcut {
			transform: rotate(90deg);
		}
	}
	%emojiPicker {
		//search emoji list + preview
		grid-template-rows: 48px auto calc(48px * 2) !important;
		grid-template-columns: 0 auto !important;
		position: relative !important;
		width: $emoji-picker-width;
		border-radius: 5px !important;

		.emoji-4YP39J { //center emoji preview
			margin-left: -5px !important;
		} 

		.searchBar-2M9mRP,
		.inspector-2A2Chb {
			background: $rb-bg-primary !important;
		}
	}
}

%editEmojiPickerContainer {
	height: $edit-emoji-picker-height;
}

//reaction emoji picker
[id^="popout"] %reactionEmojiPickerContentWrapper {
	width: $emoji-picker-width !important;

	#emoji-picker-tab-panel {
		// %emojiCategoryList {
		// 	transform: rotate(-90deg) translateX(-193px) translateY(190px);
		// }
	}
}

// limit max width & disable resizing
.drawerSizingWrapper-1txdWG {
	max-width: 424px;
	.resizeHandle-T_gFJR {
		//disable, resize and reenable this if ur emoji FAT
		display: none;
		cursor: default;
	}
}

// // gif picker
// #gif-picker-tab-panel {
// 	.searchBar-gJe8lY {
// 		background: $rb-bg-primary !important;
// 	}
// }

.container-1SX9VC,
.inner-1NoIT5 {
	background: $rb-bg-primary !important;
}

// fix medium emoji grid row distribution
.emojiListRow-3hshyU.emojiListRowMediumSize-2_-xbz {
    justify-content: space-evenly;
}