/*----//---- EMOJI PICKERS----------*/
// credit to emma🌺#0968 for the code (2020)
// thanks katlyn for fixing this in 2022

/* remove nav*/
.header-1nkwgG,
.header-11eigE,
.header-JHwfVI {
	--webkit-shadow: none;
	box-shadow: none !important;
	filter: none;
}
.header-11eigE {
	padding-top: 16px;
}

.contentWrapper-3vHNP2 {
	grid-template-rows: auto;
	min-height: 442px !important;

	.nav-1zWVQw {
		display: none !important;
	}
	.navList-YSb9UB {
		display: none;
	}
}

#emoji-picker-tab-panel {
	.wrapper-22rqw6.categoryList-2qRrlj {
		transform: rotate(-90deg);
		transform: rotate(-90deg) translateX(-193px) translateY(190px);
		height: 430px;
		padding-top: 0px !important;

		.listItems-6eZzQ1 .categoryItem-1sHzUv,
		.unicodeShortcut-3N8oDe {
			transform: rotate(90deg);
		}
		.unicodeShortcut-3N8oDe,
		.scroller-2MALzE,
		.listItems-6eZzQ1 {
			background: $rb-bg-secondary-d !important;
		}
	}
	.emojiPicker-6YCk8a {
		grid-template-rows: 46px auto calc(calc(48px * 2) + 8px) !important;
		grid-template-columns: 0 auto !important;
		position: relative !important;
		width: 428px;
		border-radius: 5px !important;

		.emoji-4YP39J {
			margin-left: -5px !important;
		} //center emoji preview

		.searchBar-2M9mRP,
		.inspector-2A2Chb {
			background: $rb-bg-primary !important;
		}
	}
}

// fix floating emoji picker height
.positionContainerOnlyEmoji-2l5tq_ {
	height: 498px;
}

// reaction emoji picker has to have a custom header
[id^="popout"] #emoji-picker-tab-panel {
	.wrapper-22rqw6.categoryList-2qRrlj {
		transform: rotate(-90deg) translateX(-157px) translateY(190px) !important;
	}
	.emojiPicker-6YCk8a {
		grid-template-rows: 0 auto min-content !important;
	}
}

// limit max width & disable resizing
.drawerSizingWrapper-1txdWG {
	max-width: 424px;
	.resizeHandle-T_gFJR {
		//disable, resize and reenable this if ur emoji FAT
		display: none;
		cursor: default;
	}
}

// gif picker
#gif-picker-tab-panel {
	.searchBar-gJe8lY {
		background: $rb-bg-primary !important;
	}
}

.container-1SX9VC,
.inner-1NoIT5 {
	background: $rb-bg-primary !important;
}

// .emojiItem-277VFM .emojiItemImageLoading-1yEIxx /* Fix Loading Emojis */ {
//     background-image: none;
//     background-color: var(--background-primary) !important;
//     border-radius: 30%;
// }
