@use "../base/variables" as *;

%friendsColumn %friendsSearch { background-color: $rb-bg-5; }
%friendsItem { border-top-color: transparent; }

%activeNowOuterCard:hover, 
%activeNowOuterCard:hover %activeNowCardSection {
	background-color: $rb-bg-5 !important;
	border-color: var(--background-modifier-accent)
}

%activeNowCardSection { border: 1px solid transparent; }

%activeNowOuterCard, %activeNowOuterCard * {
	transition: all 0.2s;
}