/*----//----JUMP BARS----------*/
.jumpToPresentBar-9P20AM {padding-bottom: 0px;}
.form-3gdLxP:before {display: none;}

.jumpToPresentBar-9P20AM,
.jumpToPresentBar-1cEnH0,
.newMessagesBar-1hF-9G,
#NewMessagesBarJumpToNewMessages_803, //just to be sure
.searchBar-zdmu7v,
.searchBarComponent-3N7dCG {
    background-color: $rb-bg-secondary-d !important;
    border: 1px solid rgba(0,0,0,0.2);
    opacity: 1;
}

.innerDisabled-2dbG11,
.scrollableContainer-15eg7h {
    opacity: 1 !important;
}

.newMessagesBar-1hF-9G {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;

    .barButtonAlt-TQoCdZ {
        color: $rb-fg-accent !important;
    }
}
.jumpToPresentBar-1cEnH0 {
    .barButtonAlt-TQoCdZ {
        color: $rb-fg-accent !important;
    }
}

/*reply bar*/
.clipContainer-31nYlH {
    padding-top: 0px !important;
    .container-A2jo65 {
        padding-top: 3px;
        background-color: $rb-bg-primary !important;
        opacity: 1;
        border: 1px solid $rb-bg-primary;
    }
}
.attachedBars-2BCP3l {
    background: transparent;
}
.replyBar-1oi75v, .container-A2jo65 {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    background-color: $rb-bg-primary;
}
/*.replyBar-1oi75v {
    //border: 1px solid rgba(0,0,0,0.2);
}*/
.closeButton-3IEry2 {color:rgb(240, 71, 71);} 

/*----//----NEW REPLIES-----------*/
.repliedMessage-3Z6XBG.da-repliedMessage {
    font-size: inherit !important;
}
//new replies fix channel mention # icon
.repliedTextContent-2hOYMB .mention.iconMentionText-1_WCtN svg { 
    width: 1rem; 
    height: 1rem  
}