$jump-bar-height: 26px;
$jump-bar-gutter: 12px;

%jumpToPresentBar,
%newMessagesBar,
%replyBar {
	background: $rb-bg-secondary-d !important;
	border: 1px solid $border-color-black;
	opacity: 1;
	
	%jumpBarMainButton {
		color: $rb-text-vibrant;
	}
	%jumpBarAltButton {
		color: $rb-fg-accent !important;
	}
}

%newMessagesBar {
	@include no-shadow;
	height: $jump-bar-height;
}

// the reply bar might need a rewrite in the future. it's pretty hacky & ugly but whatevs
%replyBarClipContainer {
	padding-top: 0px !important;
	overflow: visible;
}
%channelTextAreAttachedBar {
	background-color: transparent !important;
}
%replyBar {
	position: relative;
	top: 1px;
	%replyCancelButton, %replyMentionButton {
		padding: 0 $jump-bar-gutter;
	}
	%replySeperator {
		height: calc($jump-bar-height / 5) * 3;
	}
	[class*="text-"] {
		margin-left: $jump-bar-gutter;
	}
	height: $jump-bar-height;
	align-items: center;
}
