.container-qBnZJg {
    .quickswitcher-pKcM9U {
        background: $rb-bg-primary !important;
    
        .input-3r5zZY { //searchbox
            background: #191919;
        }
        .content-2a4AW9 { //results list
            background: $rb-bg-primary !important;
            .result-u66Ywh[aria-selected="true"] {
                background: $rb-bg-accent !important;
            }
        }
        
    }
}
