// remove shadow
%channelsHeader,
%bannerAnimatedContainer,
%privateChannelsSearchBar {
	@include no-shadow;
}

%channelsSidebar,
%channelsHeader,
%bannerAnimatedContainer {
	border-top-right-radius: $br-medium;
}
%headerBar, 
%chat, 
%friends,
%pageWrapper {
	border-top-left-radius: $br-medium;
}
%headerBarIconSelected %headerBarIcon {
	color: var(--interactive-normal);
}

%serverHeaderPublicPill { display: none; } // hide public pill

// this seems to only appear once in a while
// i cannot get it to appear now, so i'll fix it if it breaks

// upsell popup
.upsellTooltipWrapper-1wqikQ {
	background: $rb-bg-accent-opaque;
	color: $rb-text;

	.upsellTooltipHeader-28hJ7J, .upsellTooltipText-SIthpf, .text-sm-normal-3Zj3Iv {
		color: rgba(255, 255, 255, 0.847) !important;
	}
}
.upsellTooltipWrapper-1wqikQ.caretTopCenter-1wqGIE:after {
	border-bottom-color: $rb-bg-accent-opaque !important;
}
