/*----//----server title bar, banner, channel header----------*/
.title-31SJ6t {
    /*channel title bar hosting search etc.*/
    border-top-left-radius: 15px !important;
}
//server header
.header-2o-2hj,
.searchBar-3TnChZ, 
.container-1-ERn5, .container-1NXEtd, .sidebar-1tnWFu{
    z-index: 99;
    box-shadow: none;
    background-color: var(--ColChannelList);
    border-top-right-radius: 8px !important; //add another corner smol
}
.bannerVisible-14J9lQ { /*remove shadow if banner is visible*/
    box-shadow: none;
    filter: none;
    position: relative;
}
.animatedContainer-1pJv5C {
    /*add rounded corner to banner*/
    border-top-right-radius: 8px;
}
.header-3OsQeK {
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
}
/* add a small rounded corner thing? to message titlebar*/
.chat-2ZfjoI,
.container-2cd8Mz,
.libraryHeader-2loraV,
.container-ZMc96U,
.homeWrapper-L4ors0
.title-31SJ6t,
.applicationStore-2nk7Lo,
.scroller-3j5xK2,
.pageHeaderDrag-3HG1-5,
.pageWrapper-2PwDoS {
    border-top-left-radius: 10px !important;
}
.scroller-2FKFPG.scroller-2TZvBN {
    border-top-left-radius: 0px !important;
}

// hide public pill
.communityInfoVisible-3zc5_s .communityInfoContainer-1dMVpU { display: none; }

// upsell popup
.upsellTooltipWrapper-1wqikQ {
	background: $rb-bg-accent-opaque;
	color: $rb-text;

	.upsellTooltipHeader-28hJ7J, .upsellTooltipText-SIthpf, .text-sm-normal-3Zj3Iv {
		color: rgba(255, 255, 255, 0.847) !important;
	}
}
.upsellTooltipWrapper-1wqikQ.caretTopCenter-1wqGIE:after {
	border-bottom-color: $rb-bg-accent-opaque !important;
}
