#vencordsetting-tab, #vencordplugins-tab {
	--background-modifier-selected: var(--input-background);
}
%settingsCard {
	--__card-accent-color: #{$rb-bg-accent1};
}
%settingsCardPrimary {
	background-color: $rb-bg-5;
}