$banner-original-width: 340px;
$banner-original-height: 120px;

$up-border-color: var(--background-modifier-accent); //$rb-bg-accent;
$up-desired-width: 300px;
$up-br-outer: 8px;
$up-padding: 0.5rem;
$up-spacing-thin: 4px; // themed popoutOuter's padding will still be 4px regardless of this.
$up-br-inner: calc($up-br-outer - $up-spacing-thin);

// role pills
// originally by Cynthia, fixed by Cynthia (Davri#0015) in 2022, further maintained by KraXen72
%role:not(%roleAddButton) {
	position: relative;
	overflow: hidden;
	background: none;
	border-radius: 50px;
	padding: 4px;
}
%rolePillBorder, %role { border: 1px solid $border-color-faint !important; }
%roleAddButton {
	border-radius: 50px; 
}
%roleRemoveButton { position: static; }
%role %roleCircle:not([class*="popoutRoleCircle-"]) {
	&::after {
		content: "";
		inset: 0;
		position: absolute;
		background: inherit;
		opacity: 0.25;
	}
}
// normalize old margins with new ones
%role > %roleRemoveButton > %roleCircle { margin: 0px 4px 0px 1px; }
%roleRemoveIcon { left: 11px; }

// userPopout attempt 3 or 4 idk
// user popouts (new, bitesized ones)
%userPopoutOuter {
	background: $border-color;
	background-image: none;
	max-width: $up-desired-width;
	border-radius: $up-br-outer;
}
%userPopoutInner {
	background-image: none !important;
	background: $border-color !important;
	row-gap: 0;
	&::before { background-color: transparent; }

	// DMS disabled = empty footer = round body
	&:has(%bitesizePopoutFooter:empty) { 
		%bitesizePopoutBody { border-radius: $up-br-inner; }
		%bitesizePopoutFooter { display: none; }
	}
	
	%bitesizePopoutHeader { 
		background: $border-color; 
	}
	%decoratedAvatarWrapper svg, %avatarWrapper svg { 
		rect[fill="black"], circle[fill="black"], circle[fill="white"], rect[fill="white"] { 
			fill: transparent;
		} 
	}
	%bitesizePopoutBadgeContainer {
		background-color: $border-color;
		border-color: $border-color;
		padding: 2px;
	}

	%bitesizePopoutBody,
	%bitesizePopoutBody2,
	%bitesizePopoutFooter {
		background: $rb-bg-secondary;

		padding-inline: $up-padding;
		margin-inline: $up-spacing-thin;
	}
	%bitesizePopoutBody,
	%bitesizePopoutBody2 {
		margin-top: $up-padding; // so status bubble doesen't touch body
		padding-block: $up-padding;
		border-top-left-radius: $up-br-inner;
		border-top-right-radius: $up-br-inner;

		[class^="text-sm"] {
			color: var(--text-normal) !important;
		}
	}
	%bitesizePopoutBody2 { // status picker body
		overflow: unset !important;
		border-radius: $up-br-inner;
		padding-right: $up-padding !important;
		padding-left: $up-padding !important;
	}
	%bitesizePopoutRpcCard {
		background-color: $rb-bg-accent !important;
		border-radius: $up-br-inner;
		padding: $up-padding;
	}
	%bitesizePopoutFooter {
		padding-block: $up-padding;
		border-bottom-left-radius: $up-br-inner;
		border-bottom-right-radius: $up-br-inner;
	}
	%bitesizePopoutMessageInput {
		background: $border-color !important;
		color: var(--text-normal) !important;
	}
	%channelTextArea {
		> %channelTextAreaScrollable {
			border-radius: $up-br-inner;
		}
		%userPopoutTextareaInput { 
			--channel-text-area-placeholder: $rb-text !important; 
			border-radius: $up-br-inner;
		}
	}
}

// nitro theme fixes
%userProfileOuterThemed:is(%bitesizePopoutOuter) {
	// nitro popouts are too wide because they're 300px + 4px each side
	// and no border-box by default
	box-sizing: border-box;
	min-width: unset !important;
	width: $up-desired-width !important;
	max-width: $up-desired-width !important;

	// fix banners overflowing after width correction & add border-radius
	%bitesizePopoutBanner {
		overflow: hidden;
		max-width: calc(#{$up-desired-width} - 2*#{$up-spacing-thin});
		border-radius: $up-br-inner;
	}
	
	// nitro popouts have a 4px border by default so we remove ours
	%userPopoutInner {
		padding-bottom: 0;

		%bitesizePopoutBody,
		%bitesizePopoutFooter {
			margin-inline: 0
		}
	}
}

// hide small line under banner
%bitesizePopoutBanner::before { display: none !important; }
%statusPickerSection {
	border-radius: $up-br-inner;
}

// bot userpopouts (old ones)
%userPopoutOuter:not(%bitesizePopoutOuter) {
	%userPopoutOverlayBackground {
		margin: $up-spacing-thin;
		margin-top: calc(#{$up-spacing-thin} + 1.5rem);
		border-radius: $up-br-inner;
	}
}