/*----//---- MUTE, DEAFEN AND DISCONNECT BUTTON AREA----------*/
.panels-3wFtMD, .panels-3wFtMD .container-YkUktl {
    /*username, mute, deafen and settings panel*/
    background-color: $rb-bg-secondary-d;
}
/*mute, deafen and settings button hover to circle - Also inspired from Customa*/
.container-YkUktl button:not([aria-label=Unmute]):not([aria-label=Undeafen]):hover {
    border-radius: 50%;
}

// // yeet border bottom from userArea
// .activityPanel-9icbyU, .container-1zzFcN {
//     border-bottom: none !important;
// }

/*----//----MESSAGE INPUT BOX AND RELATED CHANGES----------*/
.scrollableContainer-15eg7h { // edit & message input
	border-radius: 0.5rem;
    // background: $col-dcweb-6;
    border: 1px solid rgba(0,0,0,0.2);
}
.form-3gdLxP .scrollableContainer-15eg7h { /*main input bar*/
	border-radius: 25px;
}
.channelTextArea-1FufC0 {background: transparent;}
.attachButton-_ACFSu,
.attachWrapper-3slhXI { border-right: none;} /*remove divider from attachbutton*/
.buttons-uaqb-5 {margin-right: 5px !important;} /*add back margin to emoji button*/

.autocomplete-3NRXG8,
.inner-NQg18Y, .scrollableContainer-15eg7h {
    background-color: $rb-bg-secondary-d;
}

[aria-label="Open GIF picker"] {margin-top: 3px;} /*realign gif picker*/