/*----//----PROFILE BUTTONS (SEND MESSAGE, FRIEND REQUEST etc.)----------*/
.lookFilled-yCfaCM.colorGreen-3y-Z79 {background-color: $Col-dcweb-1;}
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {background-color: $Col-dcweb-1; opacity: 0.95;}
.lookFilled-yCfaCM.colorGreen-3y-Z79:active {background-color: $Col-dcweb-1; opacity: 0.90;}
.lookFilled-yCfaCM.colorGreen-3y-Z79:disabled {background-color: $Col-dcweb-1 ;color: #eee;}
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover {background-color: #fff; opacity: 0.75;}
.lookInverted-2mDUMi.colorBrand-I6CyqQ:active {background-color: #fff; opacity: 0.70;}
.lookInverted-2mDUMi.colorBrand-I6CyqQ:disabled {background-color: rgb(255, 255, 255);}
.lookInverted-2mDUMi.colorGreen-3y-Z79:hover {background-color: #fff; opacity: 0.75;}
.lookInverted-2mDUMi.colorGreen-3y-Z79:active {background-color: #fff; opacity: 0.70;}

.connectedAccount-1xKpli {
    background: $rb-bg-secondary-d;
}

/*user profile*/
.nameTag-2Nlmsy, .topSection-13QKHs, .infoScroller-1QMpon, .listScroller-entkMk, .avatar-3QF_VA {
    background-color: var(--background-primary);
}
.avatar-3QF_VA, .header-S26rhB {
    background: $rb-bg-primary !important;
    border-color: $rb-bg-primary !important;
}
.tabBarContainer-2UG0vy {
	margin-top: 12px;
	.tabBarItem-3VvT2z {
		height: 1.5rem;
	}
}
.userProfileModalInner-3fh3QA::before {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

// user profile status thing
.userProfileModalInner-3fh3QA header div.avatar-1YsFQ1 svg {
	circle[fill="black"], rect[fill="black"], circle[fill="white"]  {
		&:not(.pointerEvents-9SZWKj) { fill: transparent !important; }
	}
	
}
.partnered-23cXFN { //partnered badge thing
	color: $rb-fg-accent;
}
.badgeList-2pMvZX {
	background-color: $rb-bg-5;
}