// TODO remove as much as possible

.connectedAccount-1xKpli {
    background: $rb-bg-secondary-d;
}

/*user profile*/
.nameTag-2Nlmsy, .topSection-13QKHs, .infoScroller-1QMpon, .listScroller-entkMk, .avatar-3QF_VA {
    background-color: var(--background-primary);
}
.avatar-3QF_VA, .header-S26rhB {
    background: $rb-bg-primary !important;
    border-color: $rb-bg-primary !important;
}
.tabBarContainer-2UG0vy {
	margin-top: 12px;
	.tabBarItem-3VvT2z {
		height: 1.5rem;
	}
}
.userProfileModalInner-3fh3QA::before {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

// user profile status thing
.userProfileModalInner-3fh3QA header div.avatar-1YsFQ1 svg {
	circle[fill="black"], rect[fill="black"], circle[fill="white"]  {
		&:not(.pointerEvents-9SZWKj) { fill: transparent !important; }
	}
}
.partnered-23cXFN { //partnered badge thing
	color: $rb-fg-accent;
}
.connectedAccountVerifiedIcon-3EPFPC {
	fill: white;
}

.badgeList-2pMvZX {
	background-color: $rb-bg-5;
}

.userProfileInner-3F03PX, .userProfileInner-3F03PX .note-6O4w9y {
	--profile-note-background-color: #{$rb-bg-primary} !important;
}

.username-3JLfHz, .discriminator-3_S3CG {
	font-weight: 600;
}