// revert discord wordmark
// provide the font for that
@font-face {
    font-family: 'Discordinated';
    src: url('https://kckarnige.is-a.dev/femboi_owo/DISCORDINATED.woff2') format('woff2'),
        url('https://kckarnige.is-a.dev/femboi_owo/DISCORDINATED.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}