html  {
    background: #222222;
    color: #a3a5aa;
    
}
.container {
    margin: auto;
    margin-top: 15%;
    background: #262626;
    width: 30%;
    height: 40%;
    border-radius: 3px;
    user-select: none;
}
h1 {
    margin-left: 5% !important;
}
ul {
    list-style-type: none;
    font-size: 20px;
    user-select: none;
}
li{user-select: none;}
a {
    text-decoration: none ;
}
a:not(span):hover {
    opacity: 0.8;
}
.accent {
    color: #a57562 !important;
    padding-right: 10px;
}
span.accent {
    min-width: 25px !important;

}
.right {
    margin-left: -25px;
}