.container-1NXEtd, //channels bar
.wrapper-1_HaEi.guilds-2JjMmN, .scroller-3X7KbA, //server bar //top bar
#app-mount, body, .bg-1QIAus //app bg idk
{
    background-color: $rb-bg-secondary-d !important;
}
.withFrame-2dL45i, .wordmark-2u86JB {
    background-color: transparent;
}

/*----//----applying respecive color variables----------*/
.scroller-2TZvBN {
    /*server selector*/
    background-color: $rb-bg-secondary-d !important;
}
.categoryWrapper-UZ5YNj,
.header-11eigE,
.nav-2KnmHb,
.header-JHwfVI,
.container-1eFtFS,
.privateChannels-oVe7HL,
.container-PNkimc,
.searchBar-3TnChZ, .input-2m5SfJ {
    background-color: $rb-bg-secondary-d !important;
}
.inspector-DFKXwB, .input-2FSSDe, .uploadModal-2ie9O_, .footer-VCsJQY.hasSpoilers-33hwf_, .theme-dark .root-g14mjS, .message-G6O-Wv, 
.content-1jQy2l,
.chat-2ZfjoI,
.container-2o3qEW /*color fixes*/ {
    background-color: var(--background-primary) !important;
}

.searchBarComponent-3N7dCG, .search-39IXmY, .searchBar-zdmu7v /*search bars*/ {
    background-color: var(--background-primary) !important;
}

.autocompleteInner-y1mjDl , .theme-dark .container-2McqkF, .jumpToPresentBar-1cEnH0, .barBase-3xxDXu,
.calendarPicker-sDhzdi, .calendarPicker-sDhzdi div,
.scrollableContainer-15eg7h, .container-A2jo65, /*message box & reply bar*/
.footer-31IekZ, .focusLock-2tveLW *.message-G6O-Wv /*delete message ig*/ {
    background: $rb-bg-secondary-d !important;
}

.header-11eigE,
.header-JHwfVI {
    background-color: var(--background-secondary) !important;
}

.members-3WRCEx,
.membersWrap-3NUR2t *:not(.botText-1fD6Qk):not(.botTagVerified-2KCPMa):not(.botTag-2mryIa) {
    /*fix bot tag stuff idk + members list*/
    background-color: var(--background-primary) !important;
}
.membersGroup-2eiWxl span:not(.nameAndDecorators-3ERwy2) {
    color: $rb-fg-accent;
}

//.titleBar-1it3bQ {background-color: var(--ColTitleBar); background:transparent;}

.scroller-WSmht3 {
    background-color: unset;
}
.tabBody-2dgbAs, .pageWrapper-2PwDoS {
    background: var(--background-primary) !important;
}

//discord home button
#bd-pub-button,
.childWrapper-1j_1ub {
    background: $rb-bg-accent;
}

.theme-dark .option-2KkUJO:after {
    background: transparent !important;
    background-color: transparent !important;
    background-image: transparent !important;
}

.connectedAccount-36nQx7 {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

/*color fixes*/
.button-1EGGcP.buttonColor-3bP3fX {
    color: #fff !important;
}


.headerTop-2y3V6H {
    border-bottom: 0px solid transparent !important;
}
.avatar-22FtUu {
    border: 6px solid #282828;
}

/*unread channels*/
.modeUnread-3Cxepe .name-28HaxV {
    color: var(--text-fix) !important;
} 
//unread channel indicators
:root .unread-36eUEm {
  top: 54%;
  left: 5px;
  width: 6px;
  height: 6px;
  z-index: 1;
  border-radius: 10px;
  animation: 2s channel-unread infinite;
}
@keyframes channel-unread {
  0% {
    box-shadow: 0 0 0 0 var(--unread-color);
  }
  70% {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

//topic channel mentions
.topic-11NuQZ .channelIcon-3I2O7O {
    width: 18px !important;
    height: 18px !important;
}