//small tweaks and snippets you can toggle on and off

/*placeholder messages delet*/
//.wrapper-15CKyy[aria-hidden="true"] { visibility: hidden;}

/*Wider search results section */
.searchResultsWrap-5RVOkx{ width: 500px; }

/*Bring Back Blurple Verified Badge */
.verified-1Jv_7P:not(.disableColor-MwOAZf) > svg path { fill: #7289DA}

/*server folder*/
//.expandedFolderBackground-2sPsd-, .folder-21wGz3 {background-color: var(--background-primary);transition: all 0.3s;}

/*inbox*/
.recentMentionsPopout-2bI1ZN, .messagesPopoutWrap-3zryHW {max-height: 93vh !important;}

/*new server discovery */
.sidebar-1tnWFu {background-color: var(--Colleft);}

/*search bars*/
.searchBarComponent-3N7dCG, .search-39IXmY, .searchBar-zdmu7v {background-color: var(--background-primary) !important}

/*bot tag fix*/
.botTagVerified-2KCPMa {border-top-left-radius: 3px;border-bottom-left-radius: 3px;}

/*bottom jump to present bar is slightly shorter*/
.jumpToPresentBar-1cEnH0, .barBase-3xxDXu {width: 88%; margin-left: auto; margin-right: auto;}

/*hide remove embed button*/
.embedSuppressButton-1rZHq6 {cursor: pointer;}

/*ctrl + K quick switcher made the input a bit darker*/
.input-3r5zZY {background-color: #36383d;}
.focusLock-2tveLW, .container-qBnZJg { 
	border: none !important;
	background: transparent;
}

/*change some text from all caps to only fist letter cap*/
.bodyTitle-Y0qMQz  {text-transform: capitalize;font-size: 15px;}

/*hide protips bc im a pro*/
.protip-YaFfgO/*, .protip-1jXzAl*/ {display: none;}

/*remove all outlines just because chrome*/
* {outline: 0px solid transparent !important;}

/*hide gift nitro button*/
[aria-label="Send a gift"] {display: none;}

/*gif picker realign*/
[aria-label="Open GIF picker"] {margin-top: 3px;}

/*hide help*/
[href="https://support.discord.com"] {display: none !important }

/*invert plus and minus*/
img[src="/assets/9a43e631d506ae4818ecefc825dc02ad.svg"],
img[src="/assets/13c8662cff8e029799a35878b56e23eb.svg"] { 
  filter: invert(1); 
}

/*calendar*/
.datePicker-70cO23 .calendarPicker-sDhzdi .react-datepicker__day:hover {background: var(--ColAccent) !important;}

/*fix emoji suggestions not being scrollable*/
.autocompleteInner-y1mjDl {
    overflow-y: auto;
    max-height: 75vh;
}
/*nicer connected accounts*/
.connectedAccount-36nQx7 {
    background-color: var(--background-tertiary);
    border: 0 !important;
 }
 /* Fix fade thingy for good looking titlebar snippet */
.children-3xh0VB:after {
    background: transparent !important;
}
.searchResultMessage-1fxgXh.hit-1fVM9e > div > .contents-2MsGLg img,
    div[id^=pinned-messages-] .contents-2MsGLg img {
    top: 15px
}
/*cool gradient user popout bgs*/
.headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
    z-index: 1;
    background-image: linear-gradient(to top right,#60adff,#4453fc);
}
.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
    z-index: 1;
    background-image: linear-gradient(to top right,#50e498,#30ae5d);
}

/*css snipet also from the person above - old streamin color*/
:root .headerStreaming-2FjmGz{
    background: #593695 !important;
}


.userInfoViewing-16kqK3 .flex-2S1XBF .flexChild-3PzYmX .marginBottom20-315RVT + div .selectable-2GODwY { /*blur email until hover*/
    filter: blur(5px);
    transition: filter .5s;
}

/*small tweaks*/
.selected-3H3-RC, .colorDefault-CDqZdO.focused-3qFvc8 {background-color: var(--background-modifier-selected) !important;}
.topSectionNormal-2-vo2m {background-color: #202225 !important;}
.body-3ND3kc, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6, .theme-dark .footer-31IekZ, .section-3G9aLW, .headerNormal-1l1Znk {background-color: #282828;}

//goosemod spotify
.gm-spotify-controls-playback-bar {
    margin-left: .25rem;
    margin-right: .25rem;
    border-radius: 2rem;
    
    --interactive-active: #{$rb-fg-accent};

    .gm-spotify-controls-playback-thumb {
        background: $rb-fg-accent !important;
    }
}