@import url("https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css");

@import 'base/variables';
@import 'base/reset';
@import 'base/fonts';
@import 'utils';
@import 'layout';

@import 'components/codeblocks';
@import 'components/contextMenus';
@import 'components/scrollbars';
@import 'components/buttons';

@import 'modules/newServerDarkmode';
@import 'modules/homeScreen';
@import 'modules/quickSwitcher';
@import 'modules/serverBanner';
@import 'modules/userAreaMsgInput';
@import 'modules/emojiPickers';
@import 'modules/jumpBars';
@import 'modules/accentColor';
@import 'modules/userPopout';
@import 'modules/userProfile';
@import 'modules/call';
@import 'modules/settings';

@import 'tweaks';

:root, .theme-dark, .focusLock-2tveLW * {
    /*gruvbox override*/
    --background-primary: #{$rb-bg-primary};
    --Colleft: #{$rb-bg-secondary-d};
    --background-secondary: var(--Colleft);
    --ColAccent: #{$rb-fg-accent};
    --ColAccentAlpha: RGBA(165, 117, 98, 0.2);

    /*set respecitve colors to Colleft - ignore*/
    --ColServerSelBG: var(--Colleft);
    --ColChannelList: var(--Colleft);
    --ColTitleBar: var(--Colleft);
    --ColMemberList:var(--background-primary);
    --ColLink: var(--ColAccent);
    --text-link: var(--ColLink);

    --text-fix: #{$rb-text};

    --text-normal: #{$rb-text};
    --header-primary: var(--ColAccent);

    --brand-experiment-15a: #{$rb-bg-accent} !important; /* reaction bg */
    --brand-experiment: #{$rb-bg-accent} !important; /* reaction border + general accent */
    --brand-experiment-200: #{$rb-text} !important; /* reaction text */
	--control-brand-foreground: #{$rb-fg-accent} !important; /* some accents*/

	--modal-background: #{$rb-bg-5} !important;
	--background-secondary-alt: #{$rb-bg-5} !important;
}

::selection {background-color: $rb-bg-accent !important;}