// buttons
.lookFilled-yCfaCM, .lookInverted-2mDUMi, 
.lookFilled-1H2Jvj.colorBrand-2M3O3N,
.selectorButtonSelected-3Z0WNU {
    background-color: $rb-fg-accent !important;
    color: white !important;
	&:hover:not(:disabled) { background-color: $rb-fg-accent-hover !important; }

	&.colorRed-rQXKgM {
		background-color: $btn-bg-red !important;
		&:hover { background-color: $btn-bg-red-dark !important; }
	}
	&.colorGreen-3y-Z79 {
		background-color: $btn-bg-green !important;
		&:hover { background-color: $btn-bg-green-dark !important; }
	}
}

// rpc / spotify cta buttons
.buttonColor-XIRMbp {
	background-color: $rb-fg-accent !important;
}

// markdown editing toolbar
.toolbar-37BrJ5, #slate-toolbar {
	.lookFilled-yCfaCM {
		background-color: transparent !important;
	}
}
