@use "../base/variables" as *;

// buttons
%buttonFilled, %buttonInverted {
	background-color: $rb-fg-accent !important;
	color: white !important;
	&:hover:not(:disabled) { background-color: $rb-fg-accent-hover !important; }

	&%buttonColorRed {
		background-color: $btn-bg-red !important;
		&:hover { background-color: $btn-bg-red-dark !important; }
	}
	&%buttonColorGreen {
		background-color: $btn-bg-green !important;
		&:hover { background-color: $btn-bg-green-dark !important; }
	}
}

%panelActionButtonColor, // rpc / spotify cta buttons
%addFriendButton {
	background-color: $rb-fg-accent !important;
	&[aria-selected="true"] {
		background-color: var(--background-modifier-selected) !important;
	} // !important needed for specificity
}

// markdown editing toolbar
%chatToolbar, #slate-toolbar {
	%buttonFilled {
		background-color: transparent !important;
		&:hover { background-color: rgba(255, 255, 255, 0.1) !important; }
	}
}

%panelActionButtonColor, // voice channel buttons like camera, screenshare
%nitroUpsellButton { 
	color: #fff !important; 
}