//buttons
.lookFilled-yCfaCM, .lookInverted-2mDUMi, .selectorButtonSelected-3Z0WNU {
    background-color: $rb-fg-accent !important;
    color: white !important;

	&.colorRed-rQXKgM {
		background-color: $btn-bg-red !important;
		&:hover { background-color: $btn-bg-red-dark !important; }
	}
	&.colorGreen-3y-Z79 {
		background-color: $btn-bg-green !important;
		&:hover { background-color: $btn-bg-green-dark !important; }
	}
}

// markdown editing toolbar
.toolbar-37BrJ5, #slate-toolbar {
	.lookFilled-yCfaCM {
		background-color: transparent !important;
	}
}
