::-webkit-scrollbar {
	width: 5px !important;
	height: 3px !important;
}

::-webkit-scrollbar-thumb {
	border: none !important;
	// background-color: $rb-bg-5;
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
	background: transparent !important;
	border: none !important;
}