html  {
    background: #222222;
    color: #a3a5aa;
}
.showcontainer {display: block !important;}
img {
    height: 354.25px !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.w3gridclass {
    width: 100%;
}
.marginleft194 {
    margin-left: 1.94%;
}
.container-outer {
    background: #262626;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    border-radius: 3px;
    user-select: none;
}
.left-img{
    float: left;
    width: 30% 
}
.container {
    float: right;
    width: 70%;
    padding-left: 30px;
    padding-right: 15px;
}
h1.heya {
    margin-left: 10%  !important;
}
ul {
    list-style-type: none;
    font-size: 20px;
    user-select: none;
}

li{user-select: none;}
a {text-decoration: none ;}
a:not(span):hover {opacity: 0.8;}
.accent {
    color: #a57562 ;
    padding-right: 10px;
}

/*tweaks*/
span.accent {min-width: 25px ;}
.right {margin-left: -25px;}
.jsoninp {width: 50%;}

.toggle, .settings { /*small buttons*/
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: none;
    color: #a3a5aa;
    outline: 0px transparent;
    transition: color 0.05s;
    user-select: none;
    cursor: pointer;
}
.toggle:active, .settings:active {
    background: transparent;
    border: none;
    color: #4f4f50;
}
.settings {left: 0}

/*resizing when img is hidden*/
.leftimghidden {display: none !important;}
.resizecontainer {
    width: 105% !important;
    padding-left: 15px !important;
}

/*rosebox buttons and inputs*/
.rb-button {
    background-color: #5e4c44;
    border-color: #a57562;
    border-radius: 5px;
    border-style: solid;
    color: #a3a5aa;
}
.rb-button, .rb-input {outline: 0px transparent !important;}
.rb-button:hover {opacity: 0.9;}
.rb-button:active {opacity: 0.5;}
.rb-input {
    background-color: #232323;
    border-color: #a57562;
    border-radius: 5px;
    border-style: solid;
    color: #a3a5aa
}


/*dragging*/
.dragabble-link {
    cursor: grab;
    opacity: 1;
    user-select: none;
}
.dragabble-link a {user-select: none !important; }
.dragabble-link.dragging {
    opacity: .5;
    user-select: none !important;
    cursor: grabbing;
}
.dragging a {user-select: none !important;}

.top-config {
    width: 100%;
}

/*hidden buttons*/
.incognito {opacity: 0.001;}
.incognito:hover {opacity: 1;}

/*config stuff*/
.borderme {
    transition: all, 0.6s;
    transition-timing-function: ease-in;
}
.borderme-bordered {
    border: 2px dashed rgba(211, 211, 211, 0.534);
    border-radius: 5px;
    /*margin: 5px;*/
}
#config-controls {
    display: none;
}
#cancel {
    display: none;
    float: right;
}

/*link containers*/
.drag-container {
    min-height: 7vh;
    min-width: 100%;
}
.extrasettings {
    width: max-content !important;
    margin: auto;
    background: #282828;
    padding: 10px;
    border-radius: 5px;
}
