:root {
    --max-width-col: 35rem;
    --max-width-ext: 60rem;
    --spacer: 1.5rem;
    --radius: 10px;
}
html  {
    background: #222222;
    color: #a3a5aa;
}
.showcontainer {display: block !important;}
img {
    /*height: 354.25px !important;*/
    height: 358px;
    width: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.w3gridclass {
    width: 100%;
}
.marginleft194 {
    margin-left: 1.94%;
}

body {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
}
#settings-wrapper {
    position: absolute;
    bottom: var(--spacer) !important;
}
.container-outer {
    box-sizing: border-box;
    user-select: none;
    position: relative;

    width: max-content;

    border-radius: var(--radius);
    background: #262626;
    padding: 0 !important;
}
#maincontainer {
    box-sizing: border-box;
    display: grid;
    grid-template: min-content 1fr / min-content 1fr 1fr;
    grid-template-areas:
    "image title title"
    "image links links";

    
    max-width: var(--max-width-ext);
    width: 100%;
    padding: 0;
}
#maincontainer.noimage {
    max-width: var(--max-width-col);
    width: 100%;
}

.left-img{ grid-area: image; }
h1.heya { 
    grid-area: title; 
    padding: calc( var(--spacer) / 2 ) var(--spacer) calc( var(--spacer) / 2 ) var(--spacer) !important;
}
.linkholder {
    grid-area: links;
    padding: 0 var(--spacer) var(--spacer) var(--spacer) !important;
    
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: "left right";
    gap: var(--spacer);
}
/*link holders*/
.linkstop { /*links top*/
    width: 100%;
    box-sizing: border-box;
} 
#leftlinks { grid-area: left; }
#rightlinks { grid-area: right; }



ul {
    list-style-type: none;
    font-size: 20px;
    user-select: none;
}

li{user-select: none;}
a {text-decoration: none ;}
a:not(span):hover {opacity: 0.8;}
.accent {
    color: #a57562 ;
    padding-right: 10px;
}

/*tweaks*/
span.accent {min-width: 25px ;}
.right {margin-left: -25px;}
.jsoninp {width: 50%;}

.toggle, .settings { /*small buttons*/
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: none;
    color: #a3a5aa;
    outline: 0px transparent;
    transition: color 0.05s;
    user-select: none;
    cursor: pointer;
}
.toggle:active, .settings:active {
    background: transparent;
    border: none;
    color: #4f4f50;
}
.settings {left: 0}

/*resizing when img is hidden*/
.leftimghidden {display: none !important;}

/*rosebox buttons and inputs*/
.rb-button {
    background-color: #5e4c44;
    border-color: #a57562;
    border-radius: 5px;
    border-style: solid;
    color: #a3a5aa;
}
.rb-button, .rb-input {outline: 0px transparent !important;}
.rb-button:hover {opacity: 0.9;}
.rb-button:active {opacity: 0.5;}
.rb-input {
    background-color: #232323;
    border-color: #a57562;
    border-radius: 5px;
    border-style: solid;
    color: #a3a5aa
}


/*dragging*/
.dragabble-link {
    cursor: grab;
    opacity: 1;
    user-select: none;
}
.dragabble-link a {user-select: none !important; }
.dragabble-link.dragging {
    opacity: .5;
    user-select: none !important;
    cursor: grabbing;
}
.dragging a {user-select: none !important;}

.top-config {
    width: 100%;
}

/*hidden buttons*/
.incognito {opacity: 0.001;}
.incognito:hover {opacity: 1;}

/*config stuff*/
.borderme {
    transition: all, 0.6s;
    transition-timing-function: ease-in;
}
.borderme-bordered {
    border: 2px dashed rgba(211, 211, 211, 0.534);
    border-radius: 5px;
    /*margin: 5px;*/
}
#config-controls {
    display: none;
}
#cancel {
    display: none;
    float: right;
}

/*link containers*/
.drag-container {
    min-height: 7vh;
    min-width: 100%;
    padding-inline-start: 0px;
    margin: 0;
}
.extrasettings {
    width: var(--max-width-col) !important;
    margin: auto;
    background: #282828;
    padding: 10px;
    border-radius: 5px;
}

/*uncomment this if you have a tall image*/
/*
img {
    width: 277px;
    object-fit: cover;
    object-position: top;
}
*/
