%channelsContainer {
	background-color: $rb-bg-secondary-d;
}

// unread channels have the same colors as normal channels
%channelWrapperUnread %channelName {
    color: $rb-text !important;
} 

// unread channel indicators -> dots
%channelUnreadPill {
  width: 6px;
  height: 6px;
  z-index: 1;
  border-radius: 15px;

  top: 50%;
  left: -3px;
  transform: translateY(-50%);
  margin: 0;
}
[class*="typeThread"] %channelUnreadPill {
	left: -3px !important;	
}

// move y spacing in private channels to child's margin, so i can yeet shop tab
%privateChannel {
	padding-top: 0;
	padding-bottom: 0;
}
%privateChannelInteractive {
	margin-top: 2px;
	margin-bottom: 2px;
}
