%messagesPopoutHeader,
%searchHeader {
	background-color: $rb-bg-tertiary;
}
%searchPopoutQueryContainer,
%searchPopoutQueryContainerFocused {
	background-color: $rb-bg-tertiary !important;
}
// friends search bar in library & invite
%inviteModalHeader %librarySearchBar {
	background-color: $rb-bg-tertiary
}
%privateChannelsSearchBar %privateChannelsSearchBarComponent {
	background-color: $rb-bg-quarterary !important;
	border: 1px solid $border-color-black;
} 
