@use "../base/variables" as *;

%messagesPopoutHeader,
%searchHeader {
	background-color: $rb-bg-tertiary;
}
%searchPopoutQueryContainer,
%searchPopoutQueryContainerFocused {
	background-color: $rb-bg-tertiary !important;
}

// friends search bar in library & invite
%modalHeader %friendsSearch {
	background-color: $rb-bg-tertiary
}


form { // username & password edit popup
	%multiInput, %inputWrapper, %inputWrapper > input,
	%friendsAddFriendInputWrapper {
		background-color: $rb-bg-tertiary;
		border-radius: $br-small;
	}
}



%privateChannelsSearchBar %privateChannelsSearchBarComponent {
	background-color: $rb-bg-quarterary !important;
	border: 1px solid $border-color-black;
} 
%chatSearchBar { 
	background-color: $rb-bg-secondary !important;
	border: 1px solid $border-color-black;
}

%recentMentionsPopout, %messagesPopoutWrap { max-height: 93vh !important; } // inbox
