// edit & message input
%autocomplete,
%channelTextAreaScrollable { 
	border-radius: 0.5rem;
    border: 1px solid $border-color-black;
}
// main input
%chatForm {
	background: transparent !important;
	%channelTextAreaScrollable { 
		border-radius: 25px; 
		opacity: 1;
	}
	%channelTextArea { background: transparent; }
	&::before { display: none; }
}

// set margin to be the same as the attachButton's
%channelTextAreaButtons { margin-right: 5px !important } 

// user input area
#vc-spotify-player {
	border: 1px solid var(--background-modifier-accent);
}
%panels, %panels %accountPanel {
	background-color: $rb-bg-secondary-d;
}
%accountPanel {
	border-style: none;
	button:hover { border-radius: 50%; }
}

%connectionPanel {
	background-color: var(--bg-overlay-1);
	border: none;
}