/* mostly just tweaks, not rly related to rosebox in any way */

/* remove white outline on favicons if tab is active*/
#switch button.webviewbtn img {
	background-color: transparent !important;
}
.theme-dark .tab-position .tab.active .tab-header .favicon {
	filter: none !important;
}
.tab-header .favicon {
	filter: none;
	background: transparent !important;
}

#tabs-container .tab .favicon {
	filter: grayscale(30%) !important;
}

.tab:not(.active) .tab-header .title {
	color: var(--colorFg);
}

#browser.tabs-top .sync-and-trash-container {
	display: none;
}

/* vertical tabs overrides */
:is(#browser.address-top.tabs-left, #browser.address-top.tabs-right, #browser.address-top.tabs-off) {
	.UrlBar-AddressField {
		margin-inline: 12px;
	}
	.button-toolbar.profile-popup {
		margin-right: 12px;
	}
	#tabs-container .tab-strip {
		-webkit-app-region: drag;
	}

	&.maximized {
		.toolbar:has(.window-buttongroup.on-mainbar) {
			min-height: 0;
		}
		.window-buttongroup {
			height: 100%;
		}
	}
}
#browser.address-top.tabs-off #header > .tabbar-wrapper {
	height: 0px;
}

#app .button-toolbar.workspace-popup button[title="Workspaces"] {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

/* workspace switcher css */
.ToolbarButton-Button[title="Workspaces"],
.button-toolbar.button-menu > button.ToolbarButton-Button[title="Workspaces"]:not(.button-textonly) {
	padding: 0 3px !important;
}
.ToolbarButton-Button[title="Workspaces"] .button-icon {
	margin: 0 3px 0 6px;
}
.ToolbarButton-Button[title="Workspaces"] .button-title {
	padding-left: 6px;
}
.ToolbarButton-Button[title="Workspaces"] .button-toolbar-menu-indicator {
	display: none;
}

/* linux fixes */
#browser.linux .window-buttongroup {
	height: 100%;
	top: 0;
	right: 0;
	button {
		position: relative;
		transform: none;
		margin: 0;
		width: 30px;
		background-color: transparent;
		display: flex;
		justify-content: center;
		padding-block: 10px;
		border-radius: 0px;
		/* border: 1px solid red; */
		height: calc(34px / var(--uiZoomLevel) + 10px);

		&::before {
			z-index: -1;
			position: absolute;
			top: 4.5px;
			box-sizing: border-box;
			border-radius: 100%;
			content: '';
			display: block;
			width: 21px;
			aspect-ratio: 1/1;
		}
		&:hover {
			fill: black;
			background-color: transparent;
		}
	}
	button.window-minimize,
	button.window-maximize {
		&:hover::before {
			background-color: #AAAAAB;
		}
		&:active::before {
			background-color: #48484A;
		}
	}
	button.window-close {
		&:hover::before {
			background-color: #FF98A2;
		}
		&:active::before {
			background-color: #6C2128;
		}
	}
}

/* #browser.linux,
#browser.linux ~ div,
#browser.linux button,
#browser.linux input,
#browser.linux select,
#browser.linux textarea {
	font-family: system-ui, "Noto Sans", "Cantarell", sans-serif;
} */
