/* mostly just tweaks, not rly related to rosebox in any way */

/* remove white outline on favicons if tab is active*/
#switch button.webviewbtn img {
	background-color: transparent !important;
}
.theme-dark .tab-position .tab.active .tab-header .favicon {
	filter: none !important;
}
.tab-header .favicon {
	filter: none;
	background: transparent !important;
}

#tabs-container .tab .favicon {
	filter: grayscale(30%) !important;
}
/* fix the fluid corner before & after positioning*/
.tabs-top .tab.active:not(.marked, .tab-mini, .tab-in-accordion):after,
.tabs-top .tab.active:not(.marked, .tab-mini, .tab-in-accordion):before {
	bottom: -1px;
}

.tab:not(.active) .tab-header .title {
	color: var(--colorFg);
}

#browser.tabs-top .sync-and-trash-container {
	display: none;
}

/* vertical tabs overrides */
:is(#browser.address-top.tabs-left, #browser.address-top.tabs-right, #browser.address-top.tabs-off) {
	.UrlBar-AddressField {
		margin-inline: 12px;
	}
	.button-toolbar.profile-popup {
		margin-right: 12px;
	}
	#tabs-container .tab-strip {
		-webkit-app-region: drag;
	}

	&.maximized {
		.toolbar:has(.window-buttongroup.on-mainbar) {
			min-height: 0;
		}
		.window-buttongroup {
			height: 100%;
		}
	}
}
#browser.address-top.tabs-off #header > .tabbar-wrapper {
	height: 0px;
}

#app .button-toolbar.workspace-popup button[title="Workspaces"] {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

/* workspace switcher css */
.button-toolbar.workspace-popup.tabbar-workspace-button {
	.button-toolbar-menu-indicator {
		/* workspace-switcher: down-arrow */
		display: none;
	}
	button[name="WorkspaceButton"] {
		max-width: 30px !important;
	}
}

/* linux fixes */
#browser.linux .window-buttongroup {
	height: 100%;
	top: 0;
	right: 0;
	button {
		position: relative;
		transform: none;
		margin: 0;
		width: 30px;
		background-color: transparent;
		display: flex;
		justify-content: center;
		padding-block: 10px;
		border-radius: 0px;
		/* border: 1px solid red; */
		height: calc(34px / var(--uiZoomLevel) + 10px);

		&::before {
			z-index: -1;
			position: absolute;
			top: 6px;
			box-sizing: border-box;
			border-radius: 100%;
			content: '';
			display: block;
			width: 20px;
			aspect-ratio: 1/1;
		}
		&:hover {
			fill: black;
			background-color: transparent;
		}
	}

	/* custom kde plasma breeze window decorations*/
	/* please trust me when i tell you not to worry about how long this took */
	.window-minimize path {
		d: path("M 5.0000001,8.7941666 1e-7,3.7941667 0.5891668,3.205 5.0000001,7.6158332 9.4108334,3.205 9.9999999,3.7941667 Z");
	}
	.window-close path {
		d: path("M 10,0.67307692 9.3269231,0 5,4.3269231 0.67307692,0 0,0.67307692 4.3269231,5 0,9.3269231 0.67307692,10 5,5.6730769 9.3269231,10 10,9.3269231 5.6730769,5");
	}
	.window-maximize {
		overflow: visible;
		.window-maximize-glyph path {
			d: path("M 5.0000001,2.3 1e-7,7.2999999 0.5891668,7.8891666 5.0000001,3.4783334 9.4108334,7.8891666 9.9999999,7.2999999 Z");
		}
		.window-restore-glyph {
			transform-origin: 50% 50%;
			transform: scale(1.125) !important;
			path {
				d: path("M 5.0000002,-1.2e-7 4.6898547,0.3092692 2e-8,4.9999999 5.0000002,10 10,4.9999999 Z m 0,0.73900012 L 9.261,5 5,9.161 0.639,5 Z");
			}
		}
	}

	button.window-minimize,
	button.window-maximize {
		&:hover::before {
			background-color: #AAAAAB;
		}
		&:active::before {
			background-color: #48484A;
		}
	}
	button.window-close {
		&:hover::before {
			background-color: #FF98A2;
		}
		&:active::before {
			background-color: #6C2128;
		}
	}
}

#browser.linux #tabs-container {
	font-family: system-ui, 'Noto Sans', Cantarell, sans-serif;
	/* font-family: "Lexica Ultralegible", "Atkinson Hyperlegible", Helvetica, Arial, sans-serif; */
	/* font-family: "Lexica Ultralegible", "Atkinson Hyperlegible", system-ui, 'Noto Sans', Cantarell, Helvetica, Arial, sans-serif; */
	font-size: 100%;
	font-weight: 400;
	/* font-variant-numeric: slashed-zero; */
	/* font-variant-ligatures: no-common-ligatures; */
}