/*
 version: 1.0.7
 variant: Auto Hide Tabbar
 update: 2025.07.07
 vivaldi version: v7.5

 initially based on:
 	VivalArc
	AutoHide Tabbar by @Zettry

 almost completely rewritten by KraXen72
 */

/* TODO auto-hide tabbar fully? + hinting as you approach edge */
/* TODO uniform bg when tabs left */
/* TODO a tiny bit of padding around tabs */

:root{
	--window-border:4px; /* window border, recommend 4px~16px */
	--addressbar-height:36px;
	--tab-padding:calc(var(--window-border) / 2);
	--colorToviTransparent:transparent;
	--webview-shadow-light: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px var(--window-border) 0px rgba(0, 0, 0, 0.10);
	--webview-shadow-dark: 0px 2px 2px 0px rgba(0, 0, 0, 0.05), 0px 2px 8px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 1.2px #ffffff18;

	--tabbar-size: 32px; /* 32px */
	--tabbar-side-offset: 6px;
	--tab-icon-size: 18px; /* 16px */
	--pinned-tab-width: 30px;
	
	--tabbar-anim-duration: 100ms;
	/* --tabbar-anim-duration: 1500ms; */
	--ttf: cubic-bezier(0.48, 0.1, 0.89, 0.03);
}

/* width changing on hover & related css properties + fixes */
.tabs-left {
	.inner > .tabbar-wrapper,
	.inner > .tabbar-wrapper > .tabbar-wrapper {
		will-change: width;
		transition: width var(--tabbar-anim-duration) !important;
		transition-timing-function: var(--ttf);
	}

	.overflow.tab-strip {
		min-width: unset !important;
	}
	.tab-strip {
		height: min-content !important;
	}
}	

.tabs-left .inner > :is(
	.tabbar-wrapper,
	.tabbar-wrapper > .tabbar-wrapper,
) {
	:is(
		#tabs-tabbar-container,
		#tabs-tabbar-container .resize,
		.button-toolbar.workspace-popup.tabbar-workspace-button
	) {
		will-change: width;
		transition: width var(--tabbar-anim-duration) !important;
		transition-timing-function: var(--ttf);
	}

	&:not(:hover) :is(
		#tabs-tabbar-container,
		#tabs-tabbar-container .resize,
		.button-toolbar.workspace-popup.tabbar-workspace-button
	) {
		width: calc(var(--tabbar-size) + var(--densityGap)) !important;
	}
}

.tabs-left {
	.tab .tab-header {
		padding-left: var(--tabbar-side-offset) !important;
		border-left-width: 1px !important;
	}
} 

.tabs-left .inner > .tabbar-wrapper {
	position: relative;
	width: calc(var(--tabbar-size) + var(--densityGap));
	box-sizing: border-box;
	z-index: 1;
}

.tabs-left .inner > .tabbar-wrapper > .tabbar-wrapper {
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
}

/* scrollbar */
.tabbar-wrapper, .tabbar-wrapper .tab-strip, 
#tabs-tabbar-container .resize,
#tabs-tabbar-container, #tabs-container {
	--autotab-sb-track-color: var(--colorTabBar, transparent);
	--autotab-sb-thumb-color: #6baf8d;
	--autotab-sb-thumb-color: var(--colorHighlightBgDark);
	--autotab-sb-size: 16px;
	
	-webkit-app-region: unset !important;
	
	&::-webkit-scrollbar {
		box-sizing: border-box;
		width: var(--autotab-sb-size) !important;
		transition: none !important;
	}
	&::-webkit-scrollbar-button { display: none; transition: none !important; }
	&::-webkit-scrollbar-track {
		background: var(--autotab-sb-track-color) !important;
		border-radius: 4px !important;
		transition: none !important;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--autotab-sb-thumb-color) !important;
		border-radius: 8px !important;
		border: 5px solid var(--autotab-sb-track-color) !important;
		transition: none !important;
	}
}

/* hide scrollbar unless hovered */
:is(.tabbar-wrapper, .tabbar-wrapper .tab-strip, 
#tabs-tabbar-container .resize,
#tabs-tabbar-container, #tabs-container):not(:hover) {
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		display: none !important;
	}
}

#browser.linux:not(.is-settingspage):not(.tabs-top):not(.tabs-bottom) .window-buttongroup{
	right: calc(1px / var(--uiZoomLevel)) !important;
	top: calc(1px / var(--uiZoomLevel)) !important;
	opacity: 1;
}

/* workspace switcher button*/
/* all tabbar orientations */
#browser .toolbar .button-toolbar.workspace-popup.tabbar-workspace-button {
	.button-toolbar-menu-indicator { display: none; }
}
#browser .toolbar .button-toolbar.workspace-popup.tabbar-workspace-button {
	button[name="WorkspaceButton"] {
		box-sizing: border-box;
		position: relative;
		left: 0;
	}
	.button-icon.audio {
		position: absolute;
		box-sizing: border-box;
		bottom: -8px;
		left: 6px;
		
		:first-child {
			background: var(--colorBg);
			border-radius: 100%;
			padding: 2px;
		}
	}
}

/* horizontal tabs */
#browser:is(.tabs-top, .tabs-bottom) .toolbar .button-toolbar.workspace-popup.tabbar-workspace-button {
	button[name="WorkspaceButton"] {
		max-width: var(--pinned-tab-width);
		max-height: var(--pinned-tab-width);
		padding: 0px;
	}
}

/* vertical tabs */
#browser:is(.tabs-left, .tabs-right) .toolbar .button-toolbar.workspace-popup.tabbar-workspace-button {
	/* svg icon */
	button[name="WorkspaceButton"]:has(> .button-icon.override) {
		gap: 0px;
		
		.button-title {
			position: relative;
			left: -1px;
		}
	}

	/* emoji icon */
	button[name="WorkspaceButton"]:has(> .button-icon:not(.override)) {
		justify-content: start;
		gap: 5px;
		margin: 0px !important;
		padding-inline: var(--tabbar-side-offset);
		
		.button-icon:not(.override) {
			padding: 0px !important;
			margin: 0px !important;
			max-width: var(--tab-icon-size);
		}
	}
}

/* so that the new tab and workspace icons don't jump around when resizing the side tabbar */
#browser.tabs-left .toolbar.toolbar-large:is(.toolbar-tabbar-before, .toolbar-tabbar-after) {
	justify-content: start;
}